<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="./style/default.css" />
    <link rel="stylesheet" href="./style/Cadastro.css" />
  </head>
  <body>
    <div class="mainLogin">
      <div class="leftLogin">
        <div class="logo-foto">
          <a class="logo-foto" href="./index.html"></a>
          <img src="./img/LOGO_BIIBLIOTECA.png" alt="" />
        </div>
        <h1>Welcome</h1>
      </div>
      <div class="rightLogin">
        <div class="cardLogin">
          <h1>Cadastro</h1>
          <div class="textfield">
            <label for="Usuário">Usuário</label>
            <input type="text" name="usuario" placeholder="Usuário" />
          </div>
          <div class="textfield">
            <label for="Senha">Senha</label>
            <input type="password" name="usuario" placeholder="Senha" />
          </div>
          <button class="btnLogin">Cadastrar</button>
          <a href="./Login.html">Faça login aqui</a>
        </div>
      </div>
    </div>
  </body>
</html>
