<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style/default.css" />
    <link rel="stylesheet" href="./style/navbar.css" />
    <link rel="stylesheet" href="./style/sidebar.css" />
    <link rel="stylesheet" href="./style/conteudoCadastroLivros.css" />
    <title>Cadastro de Livros</title>
  </head>

  <body>
    <header>
      <h1>
        <div class="logo">
          <a class="logo-foto" href="./index.html">
            <img src="./img/LOGO_BIIBLIOTECA.png" />
          </a>
        </div>
      </h1>
      <div class="actions">
        <ul>
          <li>
            <a href="./Login.html">Login</a>
          </li>
          <li>
            <a href="#">Cadastrar</a>
          </li>
        </ul>
      </div>
    </header>
    <div class="conteiner">
      <div class="navigation">
        <ul class="navigation-list">
          <li>
            <a href="./livros.html">
              <img class="nav-img" src="./img/Logo Livrós.png" alt="" />
              <span>Livros</span>
            </a>
          </li>
          <li>
            <a href="./autor.html">
              <img class="nav-img" src="./img/Logo Autor.png" alt="" />
              <span>Autor</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img class="nav-img" src="./img/Logo Categoria.png" alt="" />
              <span>Categoria</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img class="nav-img" src="./img/Logo Armário.png" alt="" />
              <span>Armário</span>
            </a>
          </li>
          <li>
            <a href="./Usuários.html">
              <img class="nav-img" src="./img/Logo Usuário.png" alt="" />
              <span>Usuário</span>
            </a>
          </li>
          <li>
            <a href="#">
              <img class="nav-img" src="./img/Logo Emprétimo.png" alt="" />
              <span>Empréstimo</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="conteudoCadastroLivros">
        <h1>Cadastro Livro</h1>
        <div class="back">
          <div class="allinputs">
            <div id="divBuscaNome">
              <input
                class="campo"
                type="text"
                id="txtNome"
                placeholder="Nome"
              />
            </div>
            <div id="divBuscaAutor">
              <input
                class="campo"
                type="text"
                id="txtAutor"
                placeholder="Autor"
              />
            </div>
            <div id="divBuscaCategoria">
              <input
                class="campo"
                type="text"
                id="txtCategoria"
                placeholder="Categoria"
              />
            </div>
            <div id="divBuscaEdicao">
              <input
                class="campo"
                type="text"
                id="txtEdicao"
                placeholder="Edicao"
              />
            </div>
          </div>
          <div class="botoes">
            <a class="btna" href="./livros.html">Cancelar</a>
            <input class="btn" type="submit" value="Enviar" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
