.navigation {
    background-color: #49C2DD;
    justify-content: center;
    height: 100vh;
    width: 15vw;
}

.navigation-list ul {
    list-style-type: none;
    box-sizing: border-box;
}

.navigation-list a {
    color: rgb(0, 0, 0);
    font-size: 1vw;
    margin-bottom: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.navigation-list li {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
}

.nav-img {
    margin: 10%;
}

@media (max-width: 989px) {
    .navigation-list span {
        visibility: hidden;
    }

    .navigation {
        width: 10vw;
    }

}